<%- include('./partials/navbar.ejs'); %>
<%- include('./partials/header.ejs'); %>
<body>
    <div class="container">
        <h2><%= articles.title %></h2>
        <p><%- articles.body %></p>
    </div>
</body>
<%- include('./partials/footer.ejs'); %>